{% extends "base.html" %}

{% block title %}
<title>Logout Successful!</title>
{% endblock title %}

{% block content %}
  <p>You have been logged out!</p>
  <a href="{% url 'login'%}">Click here to login again.</a>
{% endblock %}
