{% extends "base.html" %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>Enter your e-mail address below and we'll send you instructions on how to reset your password.</p>
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset Password">
  </form>
{% endblock %}
