{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
<title>Profile</title>
{% endblock title %}
{% block content %}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle profile_img" src="{{ user.profile.profile_picture.url }}" alt="Profile Picture">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p>{{ user.first_name }}</p>
        <p class="text-secondary">Location: {{ user.profile.location }}</p>
      </div>
    </div>
  </div>
  <p><a href="{% url 'accounts:update_profile' %}"</a>Edit Profile</p>
{% endblock content %}
