<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block title %}
  <title>Travelsite</title>
  {% endblock title %}
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- font -->
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/rawline" type="text/css" />
  <!-- CSS -->
  <link rel="stylesheet" href="\static\css\master.css">
  <!-- Fontawesome CDN -->
  <script src="https://kit.fontawesome.com/6372e07f49.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css "type="text/css">
  {% load static %}
</head>

<body>
  <!-- Navbar -->
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" class="my-5-5">
    <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-compass"></i>TravelSite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'places' %}">Places</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Photos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'forum:post_list' %}">Forum</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'store:product-list' %}">Store</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown active">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <img class="rounded-circle" id="forumpost_avatar-comment" src="{{request.user.profile.profile_picture.url}}" alt="">  {{request.user.username}}
               </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}"><i class="fas fa-user"></i> My Profile</a>
               <a class="dropdown-item" href="#"><i class="fas fa-shopping-cart"></i> Cart</a>
               <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
             </div>
           </li>
          {% else %}
            <a class="btn btn-outline-secndary" href="{% url 'login' %}" role="button"><i class="fas fa-sign-in-alt"></i> Login</a>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {# /.Navbar #}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
    {% block content %}
    {% endblock content %}
        </div>
  </div>
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="{% static 'js/master.js' %}"></script>
  <!-- Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <!-- Javascript plugins -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
