{% extends "base.html" %}

{% block title %}<title>Places</title>{% endblock title %}

{% block content %}
{% load static %}
<div class="container">
  <div class="row row-cols-4">
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/austria_cover.jpg" %}" alt="Austria">
      </figure>
      <p class="text-center" class="place_name">Austria</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/canada_cover.jpg" %}" alt="Canada">
      </figure>
      <p class="text-center" class="place_name">Canada</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/czechia_cover.jpg" %}" alt="Czechia">
      </figure>
      <p class="text-center" class="place_name">Czechia</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/denmark_cover.jpg" %}" alt="Denmark">
      </figure>
      <p class="text-center" class="place_name">Denmark</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/england_cover.jpg" %}" alt="England">
      </figure>
      <p class="text-center" class="place_name">England</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/estonia_cover.jpg" %}" alt="Estonia">
      </figure>
      <p class="text-center" class="place_name">Estonia</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/latvia_cover.jpg" %}" alt="Latvia">
      </figure>
      <p class="text-center" class="place_name">Latvia</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/lithuania_cover.jpg" %}" alt="Lithuania">
      </figure>
      <p class="text-center" class="place_name">Lithuania</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/netherlands_cover.jpg" %}" alt="Netherlands">
      </figure>
      <p class="text-center" class="place_name">The Netherlands</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/norway_cover.jpg" %}" alt="Norway">
      </figure>
      <p class="text-center" class="place_name">Norway</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/poland_cover.jpg" %}" alt="Poland">
      </figure>
      <p class="text-center" class="place_name">Poland</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/turkey_cover.jpg" %}" alt="Turkey">
      </figure>
      <p class="text-center" class="place_name">Turkey</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/ukraine_cover.jpg" %}" alt="Ukraine">
      </figure>
      <p class="text-center" class="place_name">Ukraine</p>
    </div>
    <div class="col hover11">
      <figure>
        <img class="img-thumbnail img-fluid" src="{% static "images/usa_cover.jpg" %}" alt="USA">
      </figure>
      <p class="text-center" class="place_name">The United States of America</p>
    </div>
  </div>
</div>
{% endblock content %}
